.environment {
    ul {
        li {
            list-style-type: none;
            padding: 5px;

            span {

                a {
                    color: skyblue;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}